.hw1 {
    background-color: aqua;
    width: 60px;
    border-radius: 20px;
}

.flex {
    display: flex;
}

img {
    height: 200px;
    margin: 10px;
}

.text {
    line-height: 17pt;
}

h3 {
    text-align: center;
    padding: 20px;
}

ul {
    margin-top: 100px;
}

.hw1b {
    text-align: center !important;
    padding: 30px;
}